<!DOCTYPE html>

<html>

<head>

	<meta charset="UTF-8">
	<title>Lori's IronBlog</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

</head>

<body>
	
	<div class="main">
	<div class="blog-body">

		<h1 class="maintitle">Lori's IronBlog</h1>

			<% @list_of_posts.each do |post| %>

				<div class="blogpost">

				 <h1><a href="/post/<%= post.url %>"><%= post.title %></a></h1>
				 <p class="date"><%= post.date_created.strftime("%Y-%m-%d") %>
				 <!-- <p> <%= post.text %> </p> -->
				</div>

			<% end %>

	</div>
	</div>

<%= erb :aside %>



</body>

</html>