<%= erb :header %>
	<title><%= @post.title %> - Lori's IronBlog</title>

</head>

<body>
	
	<div class="main">
	<div class="blog-body">

		<h1 class="maintitle">Lori's IronBlog</h1>

			
				<div class="blogpost">

				 <h1><a href="/ironblog/post/<%= @post.title %>"><%= @post.title %></a></h1>
				 <p class="date"><%= @post.date_created.strftime("%Y-%m-%d") %>
				 <p> <%= @post.text %> </p>
					
				 <hr/>
				 <p><a href="/">Go back to the home page</a></p>
				 <form action="/posts/<%=@post.url%>/delete" method="POST">
				 <button class="delete_button" type="submit">Delete this post</button>
				 </form>
				
				</div>

			

	</div>
	</div>

<%= erb :aside %>


</body>

</html>