<h1><%= @user.name %></h1>
<h3><%= @user.email_address %></h3>
<p><p><%= link_to "Add a new product for this user", "/users/#{@user.id}/products/new" %></p>
<p><%= link_to "Back to the list", users_path %></p>
<p><%= link_to "Create a new user", new_user_path %></p>
<h4>Products on sale</h4>
<ul>
		<% if @user.products.size == 0 %>
		<p>No items to show</p>
		<% else %>
			<% @user.products.each do |p| %>
			<li><%= link_to p.title, user_product_path(@user, p) %>. Bids will en on: <%= p.deadline.strftime("d%, m%, Y%") %></li>
			<% end %>
		<% end %>
