<h1><%= @product.title %></h1>
<h3><%= @product.description %></h3>
<p>Bids will end on <%= @product.deadline %></h3>
<p><%= link_to "Back to the list", products_path %></p>
<p><%= link_to "Add a new product", products_new_path %></p>
